h1 {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url(pattern.jpeg);
  background-size: cover;
  background-position: center;
  height: 100px;
}
h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
body {
  font-family:Helvetica;
}
.brushes {
  background-color:mediumspringgreen;
}
.frames {
  background-color:lightcoral;
}
.paint {
  background-color: skyblue;
}
.starting {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
